/*
 * Device tree overlay for Waveshare EPD 2.9" V2 on nRF52832-DK
 *
 * SPI Pin Configuration:
 * - MOSI: P0.22 (Arduino D11)
 * - MISO: P0.23 (Arduino D12) - not used by e-Paper
 * - SCK:  P0.24 (Arduino D13)
 * - CS:   P0.25 (Arduino D10)
 *
 * Control Pins:
 * - RST:  P0.26 (Arduino D9)
 * - DC:   P0.27 (Arduino D8)
 * - BUSY: P0.28 (Arduino D7)
 */

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
				<NRF_PSEL(SPIM_MOSI, 0, 22)>,
				<NRF_PSEL(SPIM_MISO, 0, 23)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
				<NRF_PSEL(SPIM_MOSI, 0, 22)>,
				<NRF_PSEL(SPIM_MISO, 0, 23)>;
			low-power-enable;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;

	epd_2in9_v2: epd@0 {
		compatible = "waveshare,epd-2in9-v2";
		reg = <0>;
		spi-max-frequency = <4000000>;  /* 4 MHz */
		rst-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		busy-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		width = <128>;
		height = <296>;
	};
};
